.contact-page {
    background-color: black;
    width: 100%;
}

.contact-list h2,
.club-pages h2 {
    text-align: center;
    font-size: 23px;
    color:rgb(6, 86, 45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-list1{
    display:flex;
    justify-content: center;
    gap:20px;
    
}

.contact-list1 a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.contact-list1 .scroll-to-top {
    color: rgb(25, 46, 234);
    font-size: 30px;
}

@media (max-width: 768px) {
    .contact-list h2,
    .club-pages h2 {
        font-size: 20px;
    }

    .contact-list1 a, .club-list a {
        font-size: 20px;
    }

    .contact-list1 .scroll-to-top {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .contact-list h2,
    .club-pages h2 {
        font-size: 18px;
    }

    .contact-list1 a, .club-list a {
        font-size: 18px;
    }

    .contact-list1 .scroll-to-top {
        font-size: 22px;
    }
}
